.row
  .col-md-12
    %h3 User
    - if @user.name
      %p= @user.name
    - if @user.email
      %p= @user.email

    %h3 Saved schools
    - if @user.schools.present?
      %ul
        - @user.schools.each do |school|
          %li
            = link_to school.name, school

