.row
  .col-md-12
    %h1 Welcome to Lucky8!

.row
  .col-md-12
    - if !user_signed_in?
      = link_to "Sign in", new_user_session_path, class: "btn btn-primary"
    - else
      = link_to "View my Lucky 8", user_path(current_user), class: "btn btn-primary"
