.row
  .col.s12.m6.offset-m3.l4.offset-l4
    =image_tag "lucky.png", class: "lucky"
    .center-align
      %p.welcome-message
        Hi there! My name is Lucky, and I'll be your guide to choosing your high schools in Boston!

      %p
        = link_to "Let's start >>", schools_path, class: "btn blue darken-4"

    %footer
      %p.center-align
        by
        =image_tag "citizen-logo.png", class: "citizen-logo"
