.row
  #map-view.col.s12
    %div{style: 'height: 200px;'}
      #map{style: 'width: 100%; height: 100%;'}

  #list-view.col.s12
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Average class size
          %th Graduation rate
          %th
      %tbody
        - @schools.each do |school|
          %tr
            %td= school.name
            %td= school.avg_class_size
            %td= school.four_yr_graduated
            %td= link_to "More info", school
