%h1 Viewing all schools

%div{style: 'width: 800px'}
  #map{style: 'width: 800px; height: 400px;'}

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th 9th grade class size
      %th Graduation rate
      %th
  %tbody
    - @schools.each do |school|
      %tr
        %td= school.name
        %td= school.school_size_9_grade
        %td= school.four_yr_graduated
        %td= link_to "More info", school
