- if user_signed_in?
  %li= link_to "Sign out", destroy_user_session_path, method: "delete"
  - if current_user.admin?
    %li= link_to "View all students", users_path
  - else
    %li= link_to "Lucky 8", user_path(current_user)
- else
  %li= link_to "Sign in", new_user_session_path
